<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/head')%>
    <link rel="stylesheet" href="../scss/about/about.css">
</head>
<body>
    <header id="header" class="header">
        <%- include('components/header')%>
    </header>
    <div class="content content-about" id="content-about">
        <div class="content-about-me">
            <div class="content-about-me-wrapper">
                <div class="content-about-me-wrapper-title">
                    <h1 class="content-about-me-wrapper-title_title">About me</h1>
                </div>
                <div class="content-about-me-wrapper-desc">
                    <p class="content-about-me-wrapper-desc_desc">
                        My name is Vladislav, and I am a novice front-end developer originally from Belarus. I am currently studying node.js and in the future I will study react.js , redux.I've been studying js and TypeScript. JavaScript for six months. I strive to improve and comprehend the world of programming.
                    </p>
                </div>
            </div>
        </div>
        <div class="content-about-skills">
            <div class="content-about-skills-wrapper">
                <div class="content-about-skills-wrapper-sections">

                    <div class="content-about-skills-wrapper-sections_section" id="javascript">
                        <div class="option content-about-skills-wrapper-sections_section-option-title">
                            <h1>Js:</h1>
                        </div>

                        <div class="content-about-skills-wrapper-sections_section-option-wrapper">
                            <div class="option content-about-skills-wrapper-sections_option">
                                <h2>JavaScript</h2>
                            </div>
                            <div class="option content-about-skills-wrapper-sections_option">
                                <h2>ES6</h2>
                            </div>
                            <div class="option content-about-skills-wrapper-sections_option">
                                <h2>Ajax / Fetch Api</h2>
                            </div>
                            <div class="option content-about-skills-wrapper-sections_option">
                                <h2>OOP / DOM</h2>
                            </div>
                        </div>
                    </div>

                    <div class="content-about-skills-wrapper-sections_section" id="layoutDisign">
                        <div class="option content-about-skills-wrapper-sections_section-option-title">
                            <h1>Layout disign:</h1>
                        </div>

                        <div class="content-about-skills-wrapper-sections_section-option-wrapper">
                            <div class="option content-about-skills-wrapper-sections_option">
                                <h2>HTML / HTML5</h2>
                            </div>
                            <div class="option content-about-skills-wrapper-sections_option">
                                <h2>SCSS / SASS</h2>
                            </div>
                            <div class="option content-about-skills-wrapper-sections_option">
                                <h2>CSS</h2>
                            </div>
                            <div class="option content-about-skills-wrapper-sections_option">
                                <h2>BEM</h2>
                            </div>
                        </div>
                    </div>

                    <div class="content-about-skills-wrapper-sections_section" id="other">
                        <div class="option content-about-skills-wrapper-sections_section-option-title">
                            <h1>Other:</h1>
                        </div>

                        <div class="content-about-skills-wrapper-sections_section-option-wrapper">
                            <div class="option content-about-skills-wrapper-sections_option">
                                <h2>NPM</h2>
                            </div>
                            <div class="option content-about-skills-wrapper-sections_option">
                                <h2>GIT</h2>
                            </div>
                            <div class="option content-about-skills-wrapper-sections_option">
                                <h2>GITHUB</h2>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <footer id="footer" class="footer">
        <%- include('components/footer')%>
    </footer>

    <script src="../js/header.js"></script>
    <script src="../js/skills.js"></script>
</body>
</html>