<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/head')%>
    <link rel="stylesheet" href="../scss/home/home.css">
</head>
<body>
    <header id="header" class="header">
        <%- include('components/header')%>

        <div class="header-title">
            <h1 class="header-title_title">VladislavMac</h1>
        </div>
    </header>

    <footer id="footer" class="footer">
        <%- include('components/footer')%>
    </footer>

    <script src="../js/header.js"></script>
</body>
</html>