<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/head')%>
    <link rel="stylesheet" href="../scss/projects/projects.css">
</head>
<body>
    <header id="header" class="header">
        <%- include('components/header')%>
    </header>

    <div id="content-projects" class="content content-projects">
        <div class="content-projects-items">
            
            <div class="content-projects-items_item">
                <div class="content-projects-items_item-title">
                    <h1><a target="_blank" href="https://github.com/VladislavMac/DynamicLanding">Dynamic landing</a></h1>
                    <div class="content-projects-items_item-title_line"></div>
                </div>
                <div class="content-projects-items_item-desc">
                    <p>This application changes the background image depending on the time of day</p>
                </div>
            </div>
            <div class="content-projects-items_item">
                <div class="content-projects-items_item-title">
                    <h1><a target="_blank" href="https://github.com/VladislavMac/hack-password">Hack password</a></h1>
                    <div class="content-projects-items_item-title_line"></div>
                </div>
                <div class="content-projects-items_item-desc">
                    <p>This application can crack your numeric password by matching</p>
                </div>
            </div>
            <div class="content-projects-items_item">
                <div class="content-projects-items_item-title">
                    <h1><a target="_blank" href="https://github.com/VladislavMac/OpenCase">Open case</a></h1>
                    <div class="content-projects-items_item-title_line"></div>
                </div>
                <div class="content-projects-items_item-desc">
                    <p>This application allows you to spin game cases</p>
                </div>
            </div>

        </div>
    </div>

    <footer id="footer" class="footer">
        <%- include('components/footer')%>
    </footer>

    <script src="../js/header.js"></script>
</body>
</html>